<!doctype html>
<html lang="es">

<head>
  <title>Mascotas PDO</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<!--iconos de  bottstrap-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
</head>

<body>
  <div class="container mt-3">
    <div class="card">
      <div class="card-header bg-primary text-light">
        <div class="row">
          <div class="col-md-6">
            <strong>LISTA DE MASCOTAS</strong>
          </div>
          <div class="col-md-6 text-end">
            <button class="btn btn-success btn-sm" id="abrir-modal" data-bs-toggle="modal" data-bs-target="#modal-registro-mascotas">
              <i class="bi bi-plus-circle-fill"></i>Agregar mascotas</button>
          </div>
        </div>  
      </div>
      <div class="card-body">
        <table class="table table-sm table-striped" id="tabla-mascotas">
          <colgroup>
            <col width = "5%">
            <col width = "15%">
            <col width = "15%">
            <col width = "15%">
            <col width = "15%">
            <col width = "10%">
            <col width = "15%">
            <col width = "10%">
          </colgroup>
          <thead>
              <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Edad</th>
                <th>Raza</th>
                <th>Tamaño</th>
                <th>Peso</th>
                <th>Nacionalidad</th>
                <th>F.Inicio</th>
                <th>Operaciones</th>
              </tr>
          </thead>
          <tbody>
            
          </tbody>
        </table>
      </div>
      <div class="card-footer text-end">
        <button class="btn btn-primary btn-sm" id="actualizar">Actualizar datos</button>
      </div>
    </div>
  </div> <!--fin container-->
 
  <!--zona de modales-->
  <!-- Modal trigger button -->
  
  
  <!-- Modal Body -->
  <!-- if you want to close by clicking outside the modal, delete the last endpoint:data-bs-backdrop and data-bs-keyboard -->
  <div class="modal fade" id="modal-registro-mascotas" tabindex="-1" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header big-primary">
          <h5 class="modal-title" id="modalTitleId">Registro de mascotas</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        <form id="formulario-mascotas">
          <div class="mb-3">
            <label for="nombremascota" class="form -label">Nombre mascota</label>
            <input type="text" class="form-control form-control-sm" id="nombremascota">
          </div>
          <div class="mb-3">
            <label for="edad" class="form -label">Edad</label>
            <input type="text" class="form-control form-control-sm" id="edad">
          </div>
          <div class="mb-3">
            <label for="raza" class="form-label">Raza</label>
            <select id="raza" class="form-select form-select-sm">
              <option value="">Seleccione</option>
              <option value="leonberguer">Leonberguer</option>
              <option value="beagle">Beagle</option>
              <option value="botball">Botball</option>
              <option value="otterhound">Otterhound</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="tamaño" class="form-label">Tamaño</label>
            <input type="text" class="form-control form-control-sm" id="tamaño">
          </div>
          <div class="mb-3">
            <label for="peso" class="form-label">Peso</label>
            <input type="text" class="form-control form-control-sm" id="peso">
          </div>
          <div class="mb-3">
            <label for="nacionalidad" class="form-label">Nacionalidad</label>
            <select id="nacionalidad" class="form-select form-slect-sm">
              <option value="">Seleccione</option>
              <option value="AL">Alemán</option>
              <option value="EU">Europeo</option>
              <option value="BRIT">Británico</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="fechainicio" class="form-label">Fecha de inicio</label>
            <input type="date" class="form-control form-control-sm" id="fechainicio">
          </div>
        </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary btn-sm" id="guardar-mascota">Guardar</button>
        </div>
      </div>
    </div>
  </div>
  
  
  <!-- Optional: Place to the bottom of scripts -->
 
  

  <!--fin zona de modales-->
 
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>

  <!-- jQuery-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

  <script>
    $(document).ready(function (){

      function mostrarMascota(){
        $.ajax({
          url: '../controllers/Mascota.controller.php',
          type: 'POST',
          data: {operacion: 'listar'},
          dataType: 'text',
          success: function(result){
            $("#tabla-mascotas tbody").html(result);
          }
        });
      }

      function registrarMascota(){
        //Pendiente de validar..
        if(confirm("¿Estás seguro de registrar esta nueva mascota?")){
          $.ajax({
            url: '../controllers/Mascota.controller.php',
            type: 'POST',
            data: {
              operacion     : 'registrar',
              nombremascota : $("#nombremascota").val(),
              edad          : $("#edad").val(),
              raza          : $("#raza").val(),
              tamaño        : $("#tamaño").val(),
              nacionalidad  : $("#nacionalidad").val(),
              fechaupdate   : $("#fechainicio").val()
            },
            success : function(result){
              if(result == ""){
                //reiniciar el formulario
                $("#formulario-mascotas")[0].reset();

                //Actualizar la tabla

                mostrarMascota();

                //Cerrar el modal
                $("#modal-registro-mascotas").modal('hide');
              }
            } 
          })
        }
      }

      //Eventos
      $("#guardar-mascota").click(registrarMascota);

      //Al pulsar click sobre el botón Rojo , se elimine el registro
      //Detectaremos eventos de los objetos creados de manera asíncrona en.. 
      $("#tabla-mascotas tbody").on("click",".eliminar",function(){
        const idmascotaEliminar = $(this).data("idmascota");
        if (confirm("¿Estás seguro de proceder?")){
          $.ajax({
            url   : '../controllers/Mascota.controller.php',
            type  : 'POST',
            data  : {
              operacion   : 'eliminar',
              idmascota   : idmascotaEliminar
            },
            success: function(result){
              if (result == ""){
                mostrarMascota();
              }
            }
          });
        }
      });


      //Ejecución automática
      mostrarMascota();

    });
  </script>
</body>

</html>